.footer {
    padding-top: 4rem;

}
.footer footer{
    background-color: #3333;
    padding: 1rem 2vw;

}
.footer footer {
    margin: auto;
    max-width: 90rem;
    display: grid;
    grid-gap: .5rem;
    place-content: center;
    text-align: center;
}
.footer footer, .footer footer a {
    color: #222;
}